<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GradSchooler</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("GradSchooler", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("UNIVERSITIES", "University", "University")</li>
                    <li>@Html.ActionLink("PROGRAMS", "Program", "Program")</li>
                    <li>@Html.ActionLink("GRE", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>

                <ul class="nav navbar-nav">
                    <!--When a user is logged in-->
                    @if (Request.IsAuthenticated)
                    {
                        <li>Hello! @Html.Encode(User.Identity.Name)</li>
                        <li>@Html.ActionLink("LOGOUT", "Logout", "Login")</li>
                        <li>@Html.ActionLink("PROFILE", "Profile", "Profile")</li>
                        //Html.ActionLink("label name", "ActionResult method, "Controller name")
                    }
                    else
                    {
                        <!--When a user is logged out-->
                        <li>@Html.ActionLink("LOGIN", "Login", "Login") </li>
                        <li>@Html.ActionLink("CREATE ACCOUNT", "CreateAccountPage", "CreateAccount")</li>
                        <!-- DROP DOWN FOR LOGGING IN
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> LOGIN</a>
                            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                <form method="post" action="Url.Action("Login", "LoginController")" accept-charset="UTF-8">
                                    <input style="margin-bottom: 15px;" type="text" placeholder="Email" id="email" name="email">
                                    <div class="form-group">
                                        <label for="email">Email</label>

                                    </div>
                                    <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                    </div>
                                    <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign in">
                                </form>
                                Html.ActionLink("Sign Up", "CreateAccountPage", "CreateAccount")
                            </div>
                            
                        </li>
                        -->
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GradSchooler</p>
        </footer>
    </div>
    @Scripts.Render("https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
