@using System;
@using GradSchooler.Database;
@using GradSchooler.DBUtilities;
@using MySql.Data.MySqlClient;

@{
    ViewBag.Title = "Account Creation Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GradSchooler</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/custom")
</head>

@using (Html.BeginForm("CreateAccountPage", "CreateAccount", FormMethod.Post))
{
    <div class="container">
        <div class="card mx-auto mt-5 w-25">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Email *</label><br />
                    <input type="text" name="email" value="@Request.Form["email"]" required>
                    <br />
                </div>
                <div class="form-group">
                    <label for="password">Password *</label>
                    <input type="password" name="password" value="@Request.Form["password"]" required>
                    <br/>
                </div>
                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input type="text" name="firstName" value="@Request.Form["firstName"]" placeholder="Jane" required>
                    <br />
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input type="text" name="lastName" value="@Request.Form["lastName"]" placeholder="Doe" required>
                    <br />
                </div>
                <div class="input-group date" data-provide="datepicker">
                    <label for="birthday">Birthday</label><br/>
                    <input type="date" class="form-control" name="birthday" value="@Request.Form["birthday"]">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                <small id="dobHelp" class="form-text text-muted">(YYYY-MM-DD)</small>
                <input type="submit" value="Create" class="btn btn-dark btn-block mt-3" />
            </div>
        </div>
    </div>

}

