@using System;
@using GradSchooler.Database;
@using GradSchooler.DBUtilities;
@using MySql.Data.MySqlClient;

@{
    ViewBag.Title = "Account Creation Page";
    //we need to have the model object here
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - GradSchooler</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <form method="post">
        Email*:<br>
        <input type="text" name="email" value="@Request.Form["email"]">
        <br>
        Password*:<br>
        <input type="password" name="password" value="@Request.Form["password"]">
        <br>
        First name:<br>
        <input type="text" name="firstName" value="@Request.Form["firstName"]">
        <br>
        Last name:<br>
        <input type="text" name="lastName" value="@Request.Form["lastName"]">
        <br>
        Date of Birth(yyyy-mm-dd):<br>
        <input type="text" name="birthday" value="@Request.Form["birthday"]">
        <br><br>
        <input type="submit" value="Create">
    </form>

    <p>If you click the "Create" button, an account will be created.</p>
</body>
</html>
