@model GradSchooler.Models.Login
@{
    ViewBag.Title = "Logging in";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{

    <div class="container">
        <div class="card mx-auto mt-5 w-25">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Email</label>
                    @Html.TextBoxFor(a => a.email, new { @class = "form-control", placeholder = "Email", tabindex = 1 })
                    @Html.ValidationMessageFor(a => a.email)
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    @Html.PasswordFor(a => a.password, new { @class = "form-control", placeholder = "password", tabindex = 2 })
                    @Html.ValidationMessageFor(a => a.password)
                </div>
                <input type="submit" value="Log in" class="btn btn-dark btn-block mt-3" />
                <span class="validation">@Html.ValidationSummary(true)</span>
            </div>
        </div>
    </div>

}




