@{
    ViewBag.Title = "Program";
    var progs = ViewBag.programs;
    var search = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/custom")

</head>
<body>
    <div class="table-responsive">
        <table class="table">
             <tr>
                <th>Program</th>
                <th>Institution</th>
                <th>City</th>
                <th>State</th>
             </tr>
             <tr>
                <th>
                  @using (Html.BeginForm("Program", "Program", search, FormMethod.Post))
                  {
                    <input type="text" class="form-control" name="name" placeholder="Program" value="">
                  }      
                </th>
                <th>
                  @using (Html.BeginForm("Program", "Program", search, FormMethod.Post))
                  {
                    <input type="text" class="form-control" name="institution" placeholder="Institution" value="">
                  }      
                </th>
                <th>
                  @using (Html.BeginForm("Program", "Program", search, FormMethod.Post))
                  {
                    <input type="text" class="form-control" name="city" placeholder="City" value="">
                  }       
                </th>
                <th>
                  @using (Html.BeginForm("Program", "Program", search, FormMethod.Post))
                  {
                    <input type="text" class="form-control" name="state" placeholder="State" value="">
                  }       
                </th>        
              </tr>
            @foreach (var item in progs)
            {
                <tr>
                    <td>@item.programname</td>
                    <td>@item.schoolname</td>
                    <td>@item.city</td>
                    <td>@item.state</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
