@{
    ViewBag.Title = "Program";
    var progs = ViewBag.programs;
    var search = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/custom")

</head>
<body>
    <div class="table-responsive">
        <table class="table">
             <tr>
                @if (Request.IsAuthenticated)
                {<th></th>}
                <th>Program</th>
                <th>Institution</th>
                <th>City</th>
                <th>State</th>
             </tr>
             <tr>
                @if (Request.IsAuthenticated){<th></th>}
                <th>
                  @using (Html.BeginForm("Program", "Program", search, FormMethod.Post))
                  {
                    <input type="text" class="form-control" name="name" placeholder="Program" value="">
                  }      
                </th>
                <th>
                  @using (Html.BeginForm("Program", "Program", search, FormMethod.Post))
                  {
                    <input type="text" class="form-control" name="institution" placeholder="Institution" value="">
                  }      
                </th>
                <th>
                  @using (Html.BeginForm("Program", "Program", search, FormMethod.Post))
                  {
                    <input type="text" class="form-control" name="city" placeholder="City" value="">
                  }       
                </th>
                <th>
                  @using (Html.BeginForm("Program", "Program", search, FormMethod.Post))
                  {
                    <input type="text" class="form-control" name="state" placeholder="State" value="">
                  }       
                </th>        
              </tr>
          </table>
          @using (Html.BeginForm("FavoriteProgram", "Program", FormMethod.Post))
          {
            <table class="table">
                @foreach (var item in progs)
                {
                    <tr>
                        @if(Request.IsAuthenticated){<td><input type="checkbox" name="favProgs" value="@item.programname" /></td>}
                        <td width="25%">@item.programname</td>
                        <td width="25%">@item.schoolname</td>
                        <td width="25%">@item.city</td>
                        <td width="25%">@item.state</td>
                    </tr>
                }
            </table>
            if(Request.IsAuthenticated){<input type="submit" class="btn btn-primary" value="Favorite">}
           }
</div>


@if (ViewBag.Page > 0)
{
    <a href="@Url.Action("Program", "Program", ViewBag.Page + 1)" 
       class="btn btn-default">
        &laquo; Prev
    </a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a href="@Url.Action("Program", new { page = ViewBag.Page + 1 })" 
       class="btn btn-default">
        Next &raquo;
    </a>
}  
</body>
</html>
