@{
    ViewBag.Title = "Profile";
    var favs = ViewBag.favUnis;
}


<body>
    <h2>Profile</h2>

    <div class="container">
        <h2>Welcome!</h2>
        <form>
            <div class="form-group">
                <label for="bio">Bio:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </form>
    </div>

    <table>
        <tr>
            <th>University</th>
            <th>Funding</th>
            <th>City</th>
            <th>State</th>
            <th>Environment</th>
        </tr>
        @foreach (var item in favs)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.fundingtype</td>
                <td>@item.city</td>
                <td>@item.state</td>
                <td>@item.environment</td>
            </tr>
        }
    </table>


    <p>
    <a href="@Url.Action("DeleteProfile", "Profile")" class="btn btn-primary btn-lg active" role="button">Delete</a>
    </p>
</body>







