@using GradSchooler.Models
@model GradSchooler.Models.University
@{ 
    ViewBag.Title = "University";
    University item = (University)ViewData["uni"];

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>University Information</title>
   
</head>
<body>
    <div class="container">
    <p class="lead"><h3>University Information</h3></p>
    </div>

    <!-- diaplay university information -->
    @using (Html.BeginForm("SingleUniversity", "University", FormMethod.Post))
    {
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>City</th>
                <th>State</th>
                <th>Environment</th>
            </tr>
            <tr>
                 <td>@item.name</td>
                 <td><a href="http://@item.url">@item.url</a></td>
                 <td>@item.city</td>
                 <td>@item.state</td>
                 <td>@item.environment</td>
            </tr>
        </table>
        <br/>
    }

    @if (Request.IsAuthenticated) {
        <!-- Form to submit new university info -->
        using (Html.BeginForm("SingleUniversity", "University", item, FormMethod.Post))
        {   
            
            <div class="container">
                <label for="fundingtype">Funding Type</label><br>
                @Html.TextBoxFor(u => u.fundingtype, new { @class = "form-control", tabindex = 1 })        
                <br>

                <label for="city">City</label><br>
                @Html.TextBoxFor(u => u.city, new { @class = "form-control", tabindex = 2 })        
                <br>
            
                <label for="state">State</label><br>
                @Html.TextBoxFor(u => u.state, new { @class = "form-control", tabindex = 3 })        
                <br>

                <label for="environment">Environment</label><br>
                @Html.TextBoxFor(u => u.environment, new { @class = "form-control", tabindex = 4 })        
            

                <br>
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        }
    }else{
        <div class="card text-center border-dark mb-3">
            <div class="card-header">
                <h4>Sign in to contibute to GradSchooler's information!</h4>
            </div>
            <div class="card-body">
                <a href="@Url.Action("Login", "Login")" class="btn btn-primary">Sign In</a>
                <a href="@Url.Action("CreateAccountPage", "CreateAccount")" class="btn btn-primary">Create an Account</a> 
            </div>
        </div>
    }

</body>
</html>
