@{
    ViewBag.Title = "University";
    var unis = ViewBag.unis;
    string search = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GradSchooler</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/custom")
</head>
<body>

            <div class="table-responsive">          
                <table class="table">
                    <thead>
                        <tr>
                            @if(Request.IsAuthenticated){<th></th>}
                            <th>University</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Website</th>        
                        </tr>
                        <tr>
                            @if(Request.IsAuthenticated){<th></th>}
                            <th>
                                @using (Html.BeginForm("University", "University", search, FormMethod.Post))
                                {
                                    <input type="text" class="form-control" name="name" placeholder="University" value="">
                                }
                            </th>
                            <th>
                                @using (Html.BeginForm("University", "University", search, FormMethod.Post))
                                {
                                    <input type="text" class="form-control" name="city" placeholder="City" value="">
                                }
                            </th>
                            <th>
                                @using (Html.BeginForm("University", "University", search, FormMethod.Post))
                                {
                                    <input type="text" class="form-control" name="state" placeholder="State" value="">
                                }
                            </th>
                            <th>
                                @using (Html.BeginForm("University", "University", search, FormMethod.Post))
                                {
                                    <input type="text" class="form-control" name="url" placeholder="Url" value="">
                                }
                            </th>
                        </tr>
                      </thead>
                </table>
                @using(Html.BeginForm("FavoriteUniversity", "University", FormMethod.Post, new { name = "FavForm", id = "FavForm"})){
                <table class="table">
                        @foreach (var item in unis)
                        {
                            String url = (item.url).ToLower();
                            <tbody id="unis">
                                <tr>
                                    @if(Request.IsAuthenticated){<td width="40px"><input type="checkbox" name="favUnis" value="@item.name" /></td>}
                                    <td width="25%"><a href = "@Url.Action("SingleUniversity", "University", item)">@item.name</a></td>
                                    <td width="25%">@item.city</td>
                                    <td width="25%">@item.state</td>
                                    <td width="25%"><a href="http://@url">@url</a></td>
                                </tr>
                            </tbody>
                        }     
                </table>
                if(Request.IsAuthenticated){<input type="submit" class="btn btn-primary" name="Favorite" value="Favorite">}
             }
             </div>
             <br/>
       
             

@if (ViewBag.Page > 0)
{
    <a href="@Url.Action("University", "University", ViewBag.Page + 1)" 
       class="btn btn-default">
        &laquo; Prev
    </a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a href="@Url.Action("University", new { page = ViewBag.Page + 1 })" 
       class="btn btn-default">
        Next &raquo;
    </a>
}  
</body>
</html>
